<h2 mat-dialog-title style="text-align: center;">Incoming Call....</h2>
<mat-dialog-content style="text-align: center;">{{data.message}}</mat-dialog-content>
<mat-dialog-actions style="justify-content: center;">
  <button class="btn btn-outline-primary" style="margin-right: 5px;" [mat-dialog-close]="true" (click)="AnswerCall(true)" ><i class="fa fa-phone" aria-hidden="true"></i>
  </button>
  <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
  <button class="btn btn-outline-danger" [mat-dialog-close]="true" (click)="AnswerCall(false)"><i class="fa fa-times" aria-hidden="true"></i></button>
</mat-dialog-actions>