
<div class="container" style="margin: 20px; padding: 20px; border: 1px solid black; border-radius: 20px;">
    
    <div style="text-align: center;">
        <h1>Login to VChat...</h1>
    </div>
    <form (ngSubmit)="Login()">
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" class="form-control" name="test" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" [(ngModel)]="email">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" class="form-control" name="test" id="exampleInputPassword1" placeholder="Password" [(ngModel)]="password">
        </div>
      <div style="text-align: center;"> <button [disabled]="this.userservice.isloginpressed" type="submit" class="btn btn-outline-dark" style="margin-right: 5px;">Login <i *ngIf="!this.userservice.isloginpressed" class="fa fa-sign-in" aria-hidden="true"></i>
        <i *ngIf="this.userservice.isloginpressed" class="fa fa-spinner" aria-hidden="true"></i>
      
      </button>
       
      </div>
    </form>

      <div style="text-align: center; margin-top: 20px;">

        <h5>Not yet registered? <a href="/register"><button type="button" class="btn btn-outline-dark">Register <i class="fa fa-user" aria-hidden="true"></i></button></a></h5>

      </div>
</div>