<div
  style="
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: black;
  "
>
  <div
    class=""
    style="
      padding-bottom: 50px;
      padding-top: 50px;
      display: flex;
      flex-direction: row;
      margin-left: 20px;
      margin-right: 20px;
    "
  >
    <div class="videos" style="height: 80vh; flex: 1">
      <div class="vid1" style="width: 100%; height: 100%; position: relative">
        <video
          [srcObject]="
            this.callservice.stream != undefined &&
            this.callservice.stream.getVideoTracks().length > 0
              ? this.callservice.stream
              : null
          "
          autoplay
          width="100%"
          height="100%"
          style="
            object-fit: cover;
            height: 100%;
            width: 100%;
            border-radius: 0px;
          "
        ></video>
        <div
          class="vid2"
          style="
            width: 20%;
            height: 35%;
            position: absolute;
            bottom: 0;
            right: 0;
          "
        >
          <video
            id="mystream"
            [srcObject]="this.callservice.mystream"
            autoplay
            width="100%"
            height="100%"
            style="
              object-fit: cover;
              height: 100%;
              width: 100%;
              border-radius: 0px;
            "
          ></video>
        </div>
      </div>
    </div>
    <div
      class="chat"
      style="width: 25%; border: 1px solid white; bottom: 0; display: flex;flex-direction: column-reverse;"
      [hidden]="!this.showchat"
    >

    <div style="display: flex; flex-direction: column;">

      <div>
        <div *ngFor="let message of this.callservice.messages" style="padding: 5px;">
        
          <p style="color: white;" class="{{message['id'] == 'sender'? 'alleft' :'allright'}}"><i class="{{message['id'] == 'sender'?'fa fa-user':'fa fa-user-circle'}}" aria-hidden="true"></i>: {{message["message"]}}</p>

        </div>
      </div>

      <div style="display: flex;flex-direction: row;">
    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="message..."[(ngModel)] ='message' >
    
    <button class="btn btn-outline-primary" (click)="SendMessages()">
        <i class="fa fa-paper-plane" aria-hidden="true"></i>
      </button>
    </div>
</div>
</div>
  </div>

  <div
    style="
      display: flex;
      flex-direction: row;
      text-align: center;
      justify-content: center;
      z-index: 10000;
      position: absolute;
      bottom: 0px;
      width: 100%;
    "
    class="controls"
  >
    <button class="btn btn-outline-light" (click)="ToggleAudio()">
      <i
        class="{{
          !this.audioOn ? 'fa fa-microphone-slash' : 'fa fa-microphone'
        }}"
        aria-hidden="true"
      ></i>
    </button>
    <button
      *ngIf="!this.videoOn"
      class="btn btn-outline-light"
      (click)="this.addVideo()"
    >
      <i class="fa fa-video-camera" aria-hidden="true"></i>
    </button>
    <button
      *ngIf="this.videoOn"
      class="btn btn-outline-light"
      (click)="this.removeVideo()"
    >
      <i class="fa fa-stop-circle" aria-hidden="true"></i>
    </button>

    <button class="btn btn-outline-light" (click)="this.ToggleChat()">
      <i class="fa fa-comment" aria-hidden="true"></i>
    </button>
    <button class="btn btn-outline-danger" (click)="this.closeCall()">
      <i class="fa fa-phone" aria-hidden="true"></i>
    </button>
  </div>
</div>
