<div
  style="
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: black;
  "
>
  <div
    class=""
    style="
      padding-bottom: 50px;
      padding-top: 50px;
      display: flex;
      flex-direction: row;
      margin-left: 20px;
      margin-right: 20px;
    "
  >
    <div class="videos" style="height: 80vh; flex: 1">
      <div class="vid1" style="width: 100%; height: 100%; position: relative">
        <video 
          [srcObject]="
            this.callservice.stream != undefined &&
            this.callservice.stream.getVideoTracks().length > 0
              ? this.callservice.stream
              : null
          "
          autoplay
          width="100%"
          height="100%"
          style="
            object-fit: cover;
            height: 100%;
            width: 100%;
            border-radius: 0px;
          "
        ></video>








        <div
          class="vid2"
          style="
            width: 20%;
            height: 35%;
            position: absolute;
            bottom: 0;
            right: 0;
          "
        >

<!--         
        <video *ngIf="screenshareOn"
          [srcObject]="screencapture"
          autoplay
          width="100%"
          height="100%"
          style="
            object-fit: cover;
            height: 100%;
            width: 100%;
            border-radius: 0px;
          "
        ></video> -->

          <video
            id="mystream"
            [srcObject]="this.callservice.mystream"
            autoplay
            width="100%"
            height="100%"
            style="
              object-fit: cover;
              height: 100%;
              width: 100%;
              border-radius: 0px;
            "
          ></video>
        </div>
      </div>
    </div>
    <div
      class="chat"
      style="width: 25%; border: 1px solid white; bottom: 0; display: flex;flex-direction: column-reverse;height: 80vh;
      overflow-y: scroll;"
      [hidden]="!this.showchat"
    >

    <div style="display: flex; flex-direction: column;">

      <div>
        <div *ngFor="let message of this.callservice.messages" style="padding: 5px; width: 60%;" class="{{message['id'] == 'sender'? 'alleft' :'allright'}}">
        
          <p style="color: white; word-wrap: break-word; text-align: justify;" ><i class="{{message['id'] == 'sender'?'fa fa-user':'fa fa-user-circle'}}" aria-hidden="true"></i>: {{message["message"]}}</p>

        </div>
      </div>

      <div style="display: flex;flex-direction: row;">
    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="message..."[(ngModel)] ='message' >
    
    <button class="btn btn-outline-primary" (click)="SendMessages()">
        <i class="fa fa-paper-plane" aria-hidden="true"></i>
      </button>
    </div>
</div>
</div>
  </div>

  <div
    style="
      display: flex;
      flex-direction: row;
      text-align: center;
      justify-content: center;
      z-index: 10000;
      position: absolute;
      bottom: 0px;
      width: 100%;
    "
    class="controls"
  >
    <button class="btn btn-outline-light" (click)="ToggleAudio()">
      <span class="fa-stack fa-lg" style="line-height: 1.5rem;width: 24px;height: 24px;">
        <i class="fa fa-microphone fa-stack-1x {{!audioOn ?'innerI1':'innerI2'}}"></i>
        <i *ngIf="!audioOn" class="fa fa-ban fa-stack-2x text-danger" style="font-size: 24px;"></i>
      </span>
    </button>

    <button class="btn btn-outline-light" (click)="toggleVideo()">
      <span class="fa-stack fa-lg" style="line-height: 1.5rem;width: 24px;height: 24px;">
        <i class="fa fa-video-camera fa-stack-1x {{!videoOn ?'innerI1':'innerI2'}}"></i>
        <i *ngIf="!videoOn" class="fa fa-ban fa-stack-2x text-danger" style="font-size: 24px;"></i>
      </span>
    </button>


    <button class="btn btn-outline-light" (click)="this.screensharing()">
      <span class="fa-stack fa-lg" style="line-height: 1.5rem;width: 24px;height: 24px;">
        <i class="fa fa-desktop fa-stack-1x {{screenshareOn ?'innerI1':'innerI2'}}"></i>
        <i *ngIf="screenshareOn" class="fa fa-ban fa-stack-2x text-danger" style="font-size: 24px;"></i>
      </span>
    <!-- <i class="fa fa-desktop" aria-hidden="true"></i> -->
    </button>


    <button class="btn btn-outline-light" (click)="this.ToggleChat()">
      <span class="fa-stack fa-lg" style="line-height: 1.5rem;width: 24px;height: 24px;">
        <i class="fa fa-comment fa-stack-1x {{!showchat ?'innerI1':'innerI2'}}"></i>
        <i *ngIf="!showchat" class="fa fa-ban fa-stack-2x text-danger" style="font-size: 24px;"></i>
      </span>
    </button>


    <button class="btn btn-outline-danger" (click)="this.closeCall()">
      <i class="fa fa-phone" aria-hidden="true"></i>
    </button>
  </div>
</div>
