<!-- <div style="
min-height: 100vh; display: flex; flex-direction: column;">
  <div style="display: flex; flex-direction: row; justify-content: end; padding: 1em; height: 10%;">
    <button type="button" class="btn btn-outline-dark" style="margin-right: 5px;">Login <i class="fa fa-sign-in" aria-hidden="true"></i></button>
    <button type="button" class="btn btn-outline-dark">Register <i class="fa fa-user" aria-hidden="true"></i></button>
  </div>
  <div style="margin-top: 10%;">
<router-outlet></router-outlet>
</div>
</div> -->

<router-outlet></router-outlet>