<div
  style="
  min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  "
>
  <div class="container" style="text-align: center">

    <div style="display: flex; flex-direction: row; justify-content: center; text-align: center; align-items: center;">
        <i class="fa fa-video-camera" aria-hidden="true" style="font-size: 5em; margin-right: 10px;"></i>
    <h1 style="margin: 0px;"> VChat</h1>
    </div>
    <h4 style="margin: 0px;">A p2p video call app</h4>
  </div>
  <div>
    <app-login style="display: flex;
    justify-content: center;
    align-items: center;"></app-login>
  </div>
</div>
