
<div style="height: 100vh; width: 100%; display: flex; justify-content: center; align-items: center;">
<div class="container" style="margin: 20px; padding: 20px; border: 1px solid black; border-radius: 20px; height: fit-content;">
    
    <div style="text-align: center;">
        <h5>Become a VChat member...</h5>
    </div>
    <form style="margin-bottom: 10px;">
        <div class="form-group">
            <label for="exampleInputEmail1">Name</label>
            <input type="text" class="form-control" name="name" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter name" [(ngModel)]="name">
          </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" class="form-control" name="email" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" [(ngModel)]="email">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" class="form-control" name="password" id="exampleInputPassword1" placeholder="Password" [(ngModel)]="password">
        </div>
      </form>
      <div style="text-align: center;"><button type="button" class="btn btn-outline-dark" (click)="Register()" >Register <i class="fa fa-user" aria-hidden="true"></i></button>
      </div>

      <div style="text-align: center; margin-top: 20px;">

        <h5>Have an account?? <a href="/"><button type="button" class="btn btn-outline-dark">Login <i class="fa fa-sign-in" aria-hidden="true"></i></button></a></h5>

      </div>
</div>
</div>